@import url('https://fonts.cdnfonts.com/css/chirp-2');

// Colors
$base-text-color: #0f1419;
$hover-color: rgba(15, 20, 25, .1);
$light-blue-accent: rgb(29, 155, 240);
$light-border-color: rgb(239, 243, 244) .1rem;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Cantarell-Regular', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    color: $base-text-color;
    background-color: #fff;
}